<h1 class ="center-heading">Place a Bid for <%= @skin.name %></h1>

<p class ="center-heading">Current Maximum Bid: <%= number_to_currency(@skin.bids.maximum(:amount) || @skin.starting_price) %></p>

<%= form_with(model: @bid, local: true) do |form| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2 class="center-heading2 error-message"><%= pluralize(@bid.errors.count, "error") %> prevented this bid from being saved:</h2>
      <ul>
        <% @bid.errors.full_messages.each do |message| %>
          <div class="center-heading2 error-message">
          <li><%= message %></li>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center-heading2">
    <%= form.label :amount, "Bid Amount" %>
    <%= form.number_field :amount, step: 0.01, required: true %>
  </div>

  <%= form.hidden_field :skin_id, value: @skin.id %>

  <div class="center-heading2">
    <%= form.submit "Place Bid", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="center-heading2"><%= link_to "Back to Skins", skins_path, class: "btn btn-secondary" %>
</div>
