<h1 class="center-heading">Create a New Account</h1>

<%= form_with(model: @user, url: "/users/create", method: :post, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented this account from being created:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center-heading2">
    <class = <%= form.label :username, "Username" %>
    <%= form.text_field :username, required: true %>
  </div>

  <div class="center-heading2">
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="center-heading2">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, required: true %> <!-- Plain password -->
  </div>

  <div class="center-heading2">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="center-heading2">
<%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
</div>
